	<footer class="mt-5">
		<hr>
		<h1 class="text-center">Aide</h1>
		<div class="card bg-dark text-dark">
			{# <img src="http://lorempixel.com/output/abstract-q-c-1000-130-5.jpg" class="card-img" alt="..."> #}
			<div class="card-img-overlay">
				<div class="row row-cols-1 row-cols-md-3">
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Les thèmes</h5>
								<p class="card-text ">
									<ul>
										<li>permettent de ranger les forums</li>
										<li>ils sont créés par les responsables du CAC</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Les forums</h5>
								<p class="card-text ">
									<ul>
										<li>ce sont les questions sur le thème</li>
										<li>vous pouvez recevoir un mail dès qu'une réponse est poster</li>
										<li>ils sont créés par les responsables du CAC</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Les discussions</h5>
								<p class="card-text ">
									<ul>
										<li>c'est l'endroit ou on discute</li>
										<li>vous pouvez écrire simplement</li>
										<li>les textes sont limités à 250 caractères</li>
										<li>vous pouvez poster des images ou des pièces jointes</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	</body>

	</html>
	<script src="/vendor/components/jquery/jquery.min.js"></script>
	<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/vendor/components/jqueryui/jquery-ui.min.js"></script>
