	<footer class="mt-5">
		<div class="card bg-dark text-dark">
			<img src="http://lorempixel.com/output/abstract-q-c-1000-130-5.jpg" class="card-img" alt="...">
			<div class="card-img-overlay">
				<div class="row row-cols-1 row-cols-md-3">
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Infos Pratiques</h5>
								<p class="card-text ">
									<ul>
										<li>Adresse : 5, rue Jean-Philippe Rameau 17700 SURGÈRES</li>
										<li>Téléphone : 05 46 07 16 39 </li>
										<li>Courriel : cac.surgeres@wanadoo.fr</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Nos reseaux</h5>
								<p class="card-text"><i class="fab fa-facebook" size:9x></i></p>
							</div>
						</div>
					</div>
					<div class="col mb-4">
						<div class="card h-100">
							<div class="card-body">
								<h5 class="card-title">Nos heures d'ouvertures</h5>
								<p class="card-text">Nous avons le plaisir de vous acceuillir du Lundi au vendredi de 9h30
									à 12 h30 et de 14h00 à 17h30</p>
							</div>
						</div>
					</div>
				</div>
	</footer>

	</body>

	</html>
