	<!-- DEBUT MAIN -->
	<main role="main" class="container mt-3">
		<div class="container-fluid mt-100">
			<div class="row">
			<a href="/forum/creer">Créer un nouveau Forum</a>
				<div class="col-md-12">
				<hgroup class="bg-danger text-white rounded-pill mt-2" >
					<h2 class="display-3 text-center mb-2"> Titre du thème </h2>
					<p class="mb-5 text-center"> Sous titre </p>
				</hgroup>
				{% for forum in forums %}
					<ul class="list-unstyled mt-3">
						<li class="media pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u> {{forum.titre}} </u></h3>
								<p class="text-center"> {{forum.soustitre}} </p>
							</div>
						</li>
						<li class="media my-4 pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u>List-based media object</u></h3>
								<p class="text-center"> Description de la discussion en cours </p>
							</div>
						</li>
						<li class="media pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u>List-based media object</u></h3>
								<p class="text-center"> Description de la discussion en cours </p>
							</div>
						</li>
						<li class="media my-4 pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u> - Titre du forum - </u></h3>
								<p class="text-center"> Description de la discussion en cours </p>
							</div>
						</li>
						<li class="media my-4 pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u>List-based media object</u></h3>
								<p class="text-center"> Description de la discussion en cours </p>
							</div>
						</li>
						<li class="media pl-5">
							<img src="https://picsum.photos/64/64" class="m-auto ml-2" alt="...">
							<div class="media-body m-3">
								<h3 class="mt-0 mb-2 text-center"><u>List-based media object</u></h3>
								<p class="text-center"> Description de la discussion en cours </p>
							</div>
						</li>
					</ul> <!-- Mettre les liens sur les li directement pour que tous le block soit cliquable.-->
				{% endfor %}
					</div>
			</div>
		</div>


	</main>
	<!-- FIN DE MAIN -->