<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Jekyll v4.1.1">
	<title>Forum du C.A.C</title>

	<link rel="canonical" href="">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
	<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
	<script src="/vendor/fortawesome/font-awesome/js/all.min.js"></script>
	<meta name="theme-color" content="#563d7c">


	<link href="/front/css/discussion.css" rel="stylesheet">
</head>

<body>
	<header>
		{# <div class="card text-white">
			<img class="img-fluid" src="http://lorempixel.com/output/abstract-q-c-1107-297-7.jpg" class="card-img"
				alt="...">
			<div class="card-img-overlay">
				<h5 class="card-title">CAC SURGERES</h5>
				<p class="card-text">Centre d'Animation et de Citoyenneté de Surgeres</p>
			</div>
		</div> #}
		<nav class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/front/images/cac.jpg" alt="cac logo">
					<span class="ml-1">Forums de discussions</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto pt-3 pt-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Thèmes
							</a>
							<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn"
								aria-labelledby="themesDropdown">
								<h6 class="dropdown-header">Liste des thèmes:</h6>
								<a class="dropdown-item" href="">Ecologie</a>
								<a class="dropdown-item" href="">Partage</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="themesDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Les discussions qui arrivent à échéances
							</a>
							<div class="dropdown-menu dropdown-themes border-0 shadow animate slideIn"
								aria-labelledby="themesDropdown">
								<h6 class="dropdown-header">Liste des thèmes:</h6>
								<a class="dropdown-item" href="">Ecologie</a>
								<a class="dropdown-item" href="">Partage</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav pb-3 pb-lg-0">

						<li class="nav-item d-none d-lg-inline-block">
							<a href="" class="nav-link text-facebook">
								<i class="fas fa-globe"></i> Site du cac
							</a>
						</li>
						<li class="nav-item d-none d-lg-inline-block">
							<a href="" class="nav-link text-facebook">
								<i class="fab fa-facebook"></i>Facebook du cac
							</a>
						</li>


						<li class="nav-item d-none d-lg-inline-block">
							<a href="https://startbootstrap-slack.herokuapp.com/" class="nav-link">
								<i class="fab fa-slack"></i>
							</a>
						</li>


					</ul>
				</div>
			</div>
		</nav>


	</header>
	<!-- DEBUT DE MAIN -->
