<!-- MODIFIER LE TITRE ET LA DESCRIPTION DU THEME -->
 <main role="main" class="container mt-3">
 	<div class="container-fluid mt-100">
 		<div class="row">
 			<form method="POST" action="/theme/sauvegarder/modifier">
 				{#on ajoute une variable optionnelle #}
 				<div class="form-group">
 					<label for="nomtheme"> Choississez le thème à modifier </label>
						<select name="themes" id="themes-select">
						{% for theme in themes %}
							<option value="titre"> {{themes.titre}} </option>
						{% endfor %}
						</select>
					<label > Nouveau titre du thème </label>
					<input type="text" name="titre"placeholder="Entrer le nom du thème">
 					<small id="themeHelp" class="form-text text-muted">Essayer de trouver un mot simple et
 						explicite</small>
 				</div>
 				<div class="form-group">
 					<label for="explicationtheme">Le thème en quelques mots</label>
 					<input type="text" name="soustitre" class="form-control" id="explicationtheme"
 						aria-describedby="theme" {# je te laisse faire pareil pour le soustitre #}
 						placeholder="Expliquer ce qu'il englobe">
 					<small id="explicationthemeHelp" class="form-text text-muted">Essayer de trouver une petite
 						phrase</small>
 				</div>

 				<button type="submit" class="btn btn-primary">Modifier</button>
 			</form>
 		</div>
 	</div>
 </main>
 				{# Comment faire pour affichier le soustitre lié au titre sélectionné? #}
