<main role="main" class="container mt-3">
	<div class="container-fluid mt-100">
		<div class="row">
			<a href="/theme/creer">Créer un nouveau thème</a>
			{% for theme in themes %}
			<div class="col-md-12">
				<div class="media">
					<div class="media-body">
						<div class="bg-danger text-white rounded-pill mt-2">
							<h3 class="mt-0 text-center">{{theme.titre}}</h3>
							<p class="mb-5 text-center">{{theme.soustitre}}
							</p>
						</div>
						<a href="/theme/modif">Modifier le thème</a>
						<ul class="list-unstyled">
							<li class="media border border-darksecondary border-left-0">
								<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
								<div class="media-body ml-2">
									<h5 class="mt-0 mb-1">List-based media object</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
										sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
										turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
										congue felis in faucibus.</p>
								</div>
							</li>
							<li class="media my-4 border border-darksecondary border-left-0">
								<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
								<div class="media-body ml-2">
									<p>
										<h5 class="mt-0 mb-1">List-based media object</h5>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
										ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
										viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
										lacinia congue felis in faucibus.
									</p>
								</div>
							</li>
							<li class="media border border-darksecondary border-left-0">
								<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
								<div class="media-body ml-2">
									<h5 class="mt-0 mb-1">List-based media object</h5>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
										sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
										turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
										congue felis in faucibus.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}



			{# <div class="row">
					<div class="col-md-12">
						<div class="media">
							<div class="media-body">
								<div class="bg-danger text-white rounded-pill mt-2">
									<h3 class="mt-0 text-center">Jeunesse</h3>
									<p class="mb-5 text-center">Education - surveillance - Soutiens - Et bien d'autres
									</p>
								</div>
								<ul class="list-unstyled">
									<li class="media border border-darksecondary border-left-0">
										<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
										<div class="media-body ml-2">
											<h5 class="mt-0 mb-1">List-based media object</h5>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
												ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
												viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
												Donec lacinia congue felis in faucibus.</p>
										</div>
									</li>
									<li class="media my-4 border border-darksecondary border-left-0">
										<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
										<div class="media-body ml-2">
											<p>
												<h5 class="mt-0 mb-1">List-based media object</h5>
												Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
												ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
												viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
												Donec lacinia congue felis in faucibus.
											</p>
										</div>
									</li>
									<li class="media border border-darksecondary border-left-0">
										<img src="https://picsum.photos/64/64" class="m-auto" alt="...">
										<div class="media-body ml-2">
											<h5 class="mt-0 mb-1">List-based media object</h5>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
												ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
												viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
												Donec lacinia congue felis in faucibus.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div> #}
		</div>
</main><!-- /.container -->
